@{
    ViewBag.Title = "About";
}

<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">About</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("About","Home")">About</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>About Us</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title active">
                            Who we are
                        </div>
                        <div class="toggle-content">
                            <p>
                                AC Bonanza has been operating in Pakistna since 2016. The company belives in providing excellent service nd afer sales service. we strongly belive that once customer is satisfied, we are satisifed. we also believe in long term relationship with our custoer..
                            </p>
                            <p>we listen to our customers and take compalaints veriy seriously [info@ACBonanza.com]</p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title active">
                            Our Mission
                        </div>
                        <div class="toggle-content">
                            <p>
                                Our motive is to provide best quality products &amp; services in Pakistan. Our existing products grow through innovation and renovation while maintaining a balance in product lines..
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title active">
                            How do we facilitate our valued customers?
                        </div>
                        <div class="toggle-content">
                            <p>
                                We are quick to respond to our customers in the shortest possible time via whatever medium of communication they have chosen. Our offer on almost immediate returns on defected or damaged merchandise during transit allows you to feel as comfortable as if you were choosing goods from your own shop. Our philosophy is simple: “Treat someone as you would like to be treated yourself”.  Our staff first unlearns their existing customer service knowledge and then relearn it our way; the ‘iShopping’ way. This ensures us to be able to sell world class branded products coupled with the most convenient and effective iShopping service. Shop now with iShopping.pk and feel the difference!
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Happy Shopping!</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            
                        </div>
                    </div><!-- /.flat-toggle -->

                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
