
@{
    ViewBag.Title = "FAQ";
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">FAQ</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("FAQs", "Home")">Faq</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Ordering & Payment</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">

                    <div class="flat-toggle">
                        <div class="toggle-title active">
                            Q: How do I place my order?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Once you have finished adding items to your shopping cart and are ready to complete your transaction, move your cursor to the lower-right corner of the screen and click on the “Checkout” button. You will then be transferred to our secure server and asked to either create a new account or place an order without an account.
                            </p>
                            <p>
                                If you expect to purchase additional materials from AcBonanza.com or to download any of our free PDFs in the future, you may want to consider setting up an account. If you choose to do so, our site will maintain on file your billing and shipping information as well as your payment data so you do not have to fill out this information each time you visit our secure server. You will also have the ability to view your complete history of purchasing and donations made at AcBonanza.com.
                            </p>
                            <p>
                                Once you have decided how to proceed, you will be prompted to enter the name and address of the intended recipient of your shipment (i.e. your delivery information), followed by your billing details. You will have the option of indicating that the shipping and billing details are the same, if applicable.
                            </p>
                            <p>
                                After providing this information, you will need to click on the "Click to calculate shipping" button to determine your delivery charge, if applicable.  Please note that if you are purchasing electronic versions of our publications (PDF, Kindle, etc), you will be asked to calculate shipping costs even though you will not be charged a shipping fee.  If you have a valid promotional code, you may enter it in the "Coupon Discount" field directly beneath the shipping information. Be sure to click on the "Apply to Order" button in order to have your savings calculated and applied to your order.
                            </p>
                            <p>
                                After completing the shipping and coupon discount information, you will need to enter in your payment details.  Once you have completed the form, click on the "Review Order" button. You will be brought to a screen that provides an order summary. Once you are ready to complete your order, click on the "Submit order" button to the lower right of your screen.  You will receive an on-screen order confirmation, as well as a second confirmation via e-mail.
                            </p>
                            <p>
                                Should you encounter any difficulties during the checkout process, please feel free to contact our customer service department using one of the options listed at the top of this page.
                            </p>

                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: How do I view what’s in my shopping cart?
                        </div>
                        <div class="toggle-content">
                            <p>
                                To view the contents of your cart, click on the “View cart” icon in the upper-right corner of your computer screen. Once you click on this icon, you can easily change the number of copies you want to purchase of a particular item in your cart by updating the quantity listed and then clicking the “Update cart” link. You can also delete any item in your cart by clicking the “Remove” check box to the left of that item and then updating your cart with the "Update cart" link.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: How do I add items to my cart?
                        </div>
                        <div class="toggle-content">
                            <p>
                                To add a publication or other item to your cart, navigate to the page of the item you are interested in and then choose your desired version of that item. When you click the “Add to Cart” link, your item will be added to your "Shopping cart" page, you can add more quantity of the item to order using the "Qty" field on the right side of the screen. After you have entered a quantity, you can continue shopping or choose to complete your order.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: I placed an order, but never received a confirmation email.
                        </div>
                        <div class="toggle-content">
                            <p>
                                If you do not receive an email from ACBonanza.com within a few hours of placing your order, be sure to check your personal Spam folder. Alternatively, the email address on file might be spelled incorrectly.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What payment methods do you accept?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Payment is simple and easy - paid cash directly to the delivery service,
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: How do I change or cancel my order?
                        </div>
                        <div class="toggle-content">
                            <p>
                                We’re super quick at processing orders to make sure that you receive them as soon as possible. You can change your order as much as you like before you click “Check- out” but after this point you will be unable to make changes to your order. Keep in mind our system is designed to fulfill orders as quickly as possible. We cannot cancel or change an order once it has been placed. In such case you can however, return the item to us in accordance with our Returns Policy. If we sent out your package and your items are returned to us (Packages marked "Return to Sender") due to an incorrect/undeliverable address, we will issue a store credit for the net total minus the shipping fee. You will be held responsible for the initial cost of shipping the package.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="divider"></div>

        Can I lease the system?


        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Leasing Related Questions</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: Can I lease the system?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Yes, you can lease the system according to our leasing policy.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                 
                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Product Related Questions</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is an inverter air conditioner? is it more efficient than a conventional air conditioner?
                        </div>
                        <div class="toggle-content">
                            <p>
                                An Inverter Air Conditioner works on a variable speed compressor which does not switch on and off like regular Air Conditioners. Rather, depending on the heat load of the room it varies its speed & achieves the desired temperature with lesser power consumption. Thus, it is more efficient. Voltas All Star Inverter ACs are powered with Two Stage Steady Cool Inverter Compressor which provides two stage compression under two stage expansion. Hence, it is more efficient than a conventional Inverter compressor.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is Iseer rating for air conditioners?
                        </div>
                        <div class="toggle-content">
                            <p>
                                The Bureau of Energy Efficiency (BEE) has introduced a new star rating regime called Indian Seasonal Energy Efficiency Ratio (ISEER) starting from January 1, 2018 for all Air Conditioners. It factors in variance in higher temperatures and different climatic zones in India and rates Air Conditioners accordingly by. It measures energy efficiency of Air Conditioners based on a weighted average of the performance in outside temperatures.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is the electrical consumption of an air conditioner per month?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Estimated Electrical Consumption = Input (kW) X No. of hours used X No. of days per month X Current Utility Rate.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is the average life span of a room air conditioner?
                        </div>
                        <div class="toggle-content">
                            <p>
                                The average life span of an air conditioner is 6 to 10 years. This depends on the installation process followed, hours of usage and annual maintenance of the product. This should be done by an authorized company technician.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What type of ac one should buy, split or window?
                        </div>
                        <div class="toggle-content">
                            <p>
                                In terms of monetary value, split ACs are slightly more expensive as compared to window ACs. Also, since the outdoor & indoor unit are separated in case of split ACs, they are quieter in operation. From an aesthetics standpoint also, split ACs are better. Window ACs are preferred when we have installation constraints.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What tonnage of ac is ideal for my room?
                        </div>
                        <div class="toggle-content">
                            <p>
                                The normal tonnage of an AC is 1, 1.5 or 2 ton. Bigger the room area, direct exposure of the roof to sun and more no of doors & windows would lead to higher tonnage capacity requirement for the AC.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What star rating of ac is ideal for my room?
                        </div>
                        <div class="toggle-content">
                            <p>
                                More the no. of hours of usage of the AC, higher is the star rating requirement. Buying a higher star rated AC would help to lower the units of electricity consumption over a period of time. The star rating can range between 1,2,3,4 & 5 stars.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is cool mode in an AC?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Ideal for comfort setting. Use of this mode is recommended when the outdoor temperature is 22 – 46°C.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is dry mode in an ac?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Ideal for humid conditions & rainy season. Use of this mode is recommended for dehumidifying when room temperature is over 16°C.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is fan mode in an AC?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Ideal for quick room air circulation. When using this mode the device would work as a simple air circulator. Use this function to dry the interior of cooling unit at the end of summer and at the beginning of season.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
