
@{
    ViewBag.Title = "Support";
}
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Support</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Support","Home")">Support</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Support</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            <p>we listen to our customers and take compalaints veriy seriously [info@ACBonanza.com]</p>
                        </div>
                        <div class="toggle-content">
                            <p>we listen to our customers and take compalaints veriy seriously [info@ACBonanza.com]</p>
                        </div>
                    </div><!-- /.flat-toggle -->

                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        
        
    </div><!-- /.container -->
</section><!-- /.flat-row -->
