    

@{
    ViewBag.Title = "Create Product Type";
}
<header>
    @Scripts.Render("~/Content/javascript/jquery.min.js")
</header>

<form method="post" id="CreateForm">
    <label>Name:</label>
    <input name="Name" />
    <br />

    <label>Description:</label>
    <input name="Description" />
    <br />

    <label>Image:</label>
    <input name="Image" type="file" id="ImageUpload" accept=".jpg, .png" />
    <br />

    <label>ImageURL:</label>
    <input name="ImageURL" type="hidden" id="ImageURL" />
    <br />

    <img id="CategoryImage" />
    <br />
    <button type="button" id="btnSave">Save</button>
</form>

<script>
    $("#ImageUpload").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;
        for (i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "Shared")',
            //dataType:'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response) {
                    $("#CategoryImage").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //debugger;
                alert('Failed');
            });

    });
</script>

<script>
    $("#btnSave").click(function () {
        //var tsearch = $("#txtSearch").val();
        // alert("BTN SAVE CLICK");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "ProductType")',
            data: $("#CreateForm").serialize()
        })
            .done(function (data) {
                $("#SearchRecords").html(data);
                $("#ActionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Failed');
            });

    });</script>
